@media screen and ( max-width: 1200px )
  .container
    max-width: 990px
  .hotel-slider
    flex: 0 0 584px
  .newsletter
    &__container
      max-width: 730px
@media screen and ( max-width: 992px )
  .container
    max-width: 730px
  .header
    &__search
      margin-left: auto
  .search
    &__input
      width: 340px
  .nav
    &__link
      font-size: 12px
      line-height: 15px
  .hotel
    &-grid
      flex-wrap: wrap
    &-slider
      flex: 0 0 100%
    &-aside
      flex-direction: row
      flex: 0 0 100%
      &__options
        width: auto
        margin-right: 20px
    &__slider
      margin-bottom: 30px
  .options
    min-width: 340px
  .map
    min-width: auto
  .newsletter
    &__container
      max-width: 700px
  .reviews
    &-slider
      &__item
        padding: 0 60px 30px
        width: 580px
        &::after
          right: 15px
          bottom: 125px
    &-wrapper
      &__nav
        &:focus
          outline: none
        &--prev
          left: 10px
        &--next
          right: 10px
@media screen and ( max-width: 768px )
  .container
    max-width: 580px
    width: 92%
  .header
    &-top
      padding: 30px 0
  .search
    &__input
      width: 200px
  .logo
    width: 132px
  .nav
    padding: 22px 0
    &__link
      padding: 22px 0
      font-size: 10px
      line-height: 15px
  .hotel
    &-info
      &__offer
        margin-left: 8px
  .options
    min-width: 50%
  .reviews
    &__title
      margin-bottom: 50px
      font-size: 30px
      line-height: 38px
    &-slider
      &__item
        width: 100%
        &::before
          display: none
      &__text
        &::after
          display: none
    &-wrapper
      &__nav
        &--prev
          left: -40px
        &--next
          right: -40px
@media screen and ( max-width: 576px )
  .container
    max-width: 480px
  .header-nav, .header__user, .header__search
    display: none
  .logo
    width: 100px
  .header
    &-top
      padding: 20px 0
      &__burger
        display: block
  .burger
    display: flex
    width: 16px
    height: 11px
    padding: 0
    align-items: center
    justify-content: space-between
    flex-direction: column
    background-color: transparent
    border: none
    cursor: pointer
    &__line
      width: 16px
      height: 1px
      background-color: $black
  .hotel
    &-rate
      display: none
    &-info
      flex-basis: auto
      &__wrapper
        align-items: center
      &__offer
        order: -1
        margin-bottom: 0
        margin-left: 0
        margin-right: 14px
      &__stars
        flex-basis: auto
        margin-left: auto
      &__name
        flex-basis: 100%
        margin-top: 10px
    &__slider
      margin-bottom: 20px
    &-slider
      &__slide
        height: 200px
    &-aside
      width: 100%
      flex-direction: column
      &__options
        margin-bottom: 20px
        margin-right: 0
      &__map
        width: auto
  .options, .map
    width: 300px
    width: 100%
    flex-shrink: 1

  .newsletter
    &__container
      max-width: 480px
    &__wrapper
      flex-direction: column
      align-items: start
    &-text
      margin-right: 0
      margin-bottom: 37px

  .subscribe
    width: 100%

  .reviews
    &__title
      margin: 0 auto 42px auto
      max-width: 235px
      font-size: 18px
      line-height: 23px
    &-slider
      &__item
        padding: 30px
        padding-top: 0
    &-wrapper
      &__nav
        top: 30px
        transform: translateY(0)
        &--prev
          left: 50%
          transform: translate(-50%, 0)
          margin-left: -100px
        &--next
          right: 50%
          transform: translate(50%, 0)
          margin-right: -100px

@media screen and ( max-width: 480px )
  .container
    max-width: 92%
    padding: 0

// @media screen and ( min-width: 320px ) and ( max-width: 480px )
