@media screen and ( max-width: 1200px )
  .container
    max-width: 990px
  .hotel-slider
    flex: 0 0 584px
  .newsletter
    &__container
      max-width: 730px
  .packages
    &-wrapper
    &-card
      &__image
        flex: 0 0 230px
      &--wide
        .packages
          &-card
            &__image
              max-height: 463px
            &-info
              padding: 30px
              padding-right: 25px
      &-info
        padding: 20px 30px
        &__desc
          font-size: 13px
          line-height: 145%
@media screen and ( max-width: 992px )
  .container
    max-width: 730px
  .header
    &__search
      margin-left: auto
  .search
    &__input
      width: 340px
  .nav
    &__link
      font-size: 12px
      line-height: 15px
  .hotel
    padding-bottom: 50px
    &-grid
      flex-wrap: wrap
    &-slider
      flex: 0 0 100%
      &__nav
        &--prev
          left: 0
        &--next
          right: 0
    &-aside
      flex-direction: row
      flex: 0 0 100%
      &__options
        width: auto
        margin-right: 20px
        flex: 0 0 340px
      &__map
        height: auto
    &__slider
      margin-bottom: 30px
  .options
    // min-width: 340px
  .map
    min-width: auto
  .newsletter
    padding: 92px 0
    &__container
      max-width: 730px
  .reviews
    &-slider
      &__item
        padding: 0 64px 30px
        max-width: 580px
        &::after
          right: 15px
          bottom: 125px
    &-wrapper
      &__nav
        &:focus
          outline: none
        &--prev
          left: 10px
        &--next
          right: 10px
  .activities
    &-wrapper
      flex-wrap: wrap
    &-card
      width: 340px
      margin-right: 20px
      margin-bottom: 20px
      &:nth-last-child(-n+2)
        margin-bottom: 0
      &:nth-child(even)
        margin-right: 0
  .packages
    padding-top: 20px
    &__title
      margin-bottom: 25px
    &-wrapper
      grid-template-columns: repeat(2, 1fr)
    &-card
      &-info
        padding: 20px 30px 30px
  .footer
    &-wrapper
      grid-template-columns: repeat(3, minmax(min-content, 1fr))
      grid-gap: 40px 20px
      margin-bottom: 55px
    &__block
    &__logo
      margin-top: 0
      grid-row: 1 / 2
      grid-column: 1 / 2
    &__socials
      grid-row: 1 / 2
      grid-column: span 2
      align-self: center
    &__categories
      grid-row: 2 / 3
    &-links
      margin-right: 0
      margin-left: 0
    &-pay-type
      position: static
  .modal
    &-dialog
      padding: 20px 45px
@media screen and ( max-width: 768px )
  .container
    width: 95%
  .header
    &-top
      padding: 30px 0
  .header
    &__search
      margin-right: 10.2%
  .logo
    width: 132px
  .nav
    padding: 21px 0
    &__link
      padding: 0
      font-size: 12px
      line-height: 15px
  .breadcrumb
    padding: 19px 0
  .hotel
    &-info
      &__offer
        margin-left: 14px
    &-aside
      &__options
        flex: 0 0 48.7%
  .options
    padding: 26px 23px
  .reviews
    &__title
      margin-bottom: 50px
      font-size: 30px
      line-height: 38px
    &-slider
      &__item
        &::before
          display: none
        &::after
          display: none
    &-wrapper
      &__nav
        transform: translateY(-45%)
        &--prev
          left: 0
        &--next
          right: 0
  // .subscribe
  //   &__input::-webkit-input-placeholder
  //     padding-left: 22px
  .activities
    padding-bottom: 70px
    &-card
      width: 48.5%
      &__title
        max-width: 200px
  .packages
    &__title
      margin-bottom: 30px
      font-size: 30px
      line-height: 1
    &-wrapper
    &-card
      &-info
        padding: 25px
        &__title
          margin-bottom: 20px
          font-size: 16px
          line-height: 1
        &__spec
          &-list
            margin-bottom: 20px
        &__footer
          align-items: center
        &-price
          flex-shrink: 0
          &__old
            font-size: 12px
            margin-bottom: 0
          &__current
            font-size: 18px
        &__button
          line-height: 1
      &__image
        img,
        source
          width: 100%
      &--wide
        flex-direction: column
        align-items: flex-start
        .packages
          &-card
            &__image
              width: 100%
              max-height: 250px
              img,
              source
                width: 100%
            &__offer
              font-size: 8px
              line-height: 10px
              padding: 5px 10px
            &-info
              display: flex
              align-items: center
              justify-content: space-between
              width: 100%
              padding: 20px 30px
              &__wrapper
                min-width: 35%
              &__hero
                flex: 0 1 55%
              &__title
                margin-bottom: 20px
              &__desc
                margin-bottom: 20px
                font-size: 12px
                line-height: 1.2
              &__spec
                &-list
                  margin-bottom: 20px
                  flex-basis: 100%
              &__footer
                flex-wrap: wrap
                flex-basis: 45%
  .footer
    padding: 72px 0 20px
    &-item
      &-contacts
        margin-bottom: 22px !important
        &--mb
          margin-bottom: 27px !important
    &__socials
      margin-left: -10.5%
      margin-top: 6px
    &__additional
      margin-left: -16%
    &__legal
      margin-left: 25px
    &__contacts
      grid-column: span 3
      margin-top: 27px
      margin-left: 0
    &__contscts,
    &__form
      grid-column: span 3
      max-width: 540px
    &-form
      &__text
        margin-right: 3px
    &__logo
      width: 104px
      height: 120px
    &-form
      &__group
  .modal
    &-dialog
      width: 90%
    &-form
      &__button
        order: 2
      &__label
        margin-bottom: 25px
        flex-basis: 100%
@media screen and ( max-width: 576px )
  $headerHeight: 60px
  .main
    margin-top: $headerHeight
  .header
    position: fixed
    top: 0
    right: 0
    left: 0
    height: $headerHeight
    z-index: 99
    &-top
      padding: 22px 0
      &__burger
        display: block
    &__search,
    &__user,
    &__nav
      &--mobile
        &-hidden
          display: none
    &__nav
      position: fixed
      top: $headerHeight
      right: -200vw
      bottom: 0
      width: 100%
      padding: 30px 0
      z-index: 99
      transition: 0.3s ease
      &--active
        right: 0
        overflow: auto
    &__user
      &--mobile
        flex-direction: column
  .user
    &__name
      &--mobile
        margin-left: 0
        margin-top: 10px
        color: $true-white
  .search
    &__input
      &--mobile-wide
        width: 245px
  .nav
    &__list
      flex-direction: column
    &__item
      &:not(:last-child)
        margin-bottom: 20px
      &--mobile
        &-visible
          display: flex
        &-mb
          &-3
            margin-bottom: 30px !important
          &-4
            margin-bottom: 40px !important

  .logo
    width: 100px
  .burger
    display: flex
    margin-top: 6px
    width: 17px
    height: 11px
    padding: 0
    align-items: center
    justify-content: space-between
    flex-direction: column
    background-color: transparent
    border: none
    cursor: pointer
    &__line
      width: 100%
      height: 1px
      background-color: $black
      transition: 0.2s cubic-bezier(.65,.05,.36,1) 0s
      @media screen and ( min-width: 992px )
        &:hover
          background-color: $accent
    &--active
      .burger__line:nth-child(1)
        transform: translateY(5px) rotate(45deg)
      .burger__line:nth-child(2)
        display: none
      .burger__line:nth-child(3)
        transform: translateY(-5px) rotate(-45deg)
  .breadcrumb
    padding: 29px 0 17px
  .hotel
    padding-top: 5px
    padding-bottom: 40px
    &-rate
      display: none
    &-info
      flex-basis: auto
      &__descr
        line-height: 15px
      &__wrapper
        align-items: center
      &__offer
        order: -1
        margin-bottom: 0
        margin-left: 0
        margin-right: 0
      &__stars
        flex-basis: auto
        margin-right: 15px
        margin-bottom: 0
        margin-left: auto
      &__name
        flex-basis: 100%
        margin-top: 10px
    &__info-wrapper
      display: block
      margin-bottom: 38px
    &__slider
      margin-bottom: 20px
    &-slider
      max-height: 180px
      &__slide
        height: 200px
      &__nav
        &--prev,
        &--next
          width: 12px
          height: 13px
        &--prev
          left: 5px
          background: url('../images/hotel-slider/hotel-slider__nav--prev.svg') no-repeat center / cover
        &--next
          right: 5px
          background: url('../images/hotel-slider/hotel-slider__nav--next.svg') no-repeat center / cover
        svg
          display: none
    &-aside
      width: 100%
      flex-direction: column
      &__options
        flex: 0 1 100%
        margin-bottom: 20px
        margin-right: 0
      &__map
        width: auto
        height: 210px
  .options
    max-width: 100%
  .packages
    padding-top: 10px
    &__title
      margin-bottom: 30px
      font-size: 18px
      line-height: 23px
  .newsletter
    padding: 79px 0 82px
    background-color: red
    &__container
      max-width: 480px
    &__wrapper
      flex-direction: column
      align-items: start
    &-text
      margin-right: 0
      margin-bottom: 37px
      &__text
        font-size: 20px
        line-height: 25px
      &__strong
        margin-top: 5px
        font-size: 30px
        line-height: 38px

  .subscribe
    width: 100%
    &__input
      padding-left: 17px
  .reviews
    padding: 40px 0 50px
    &__title
      margin: 0 auto 42px auto
      max-width: 235px
      font-size: 18px
      line-height: 23px
    &-slider
      &__item
        max-width: 100%
        padding: 36px 29px
        padding-top: 0
        border-radius: 8px
      &__text
        text-align: left
    &-wrapper
      &__nav
        top: 30px
        transform: translateY(0)
        &--prev
          left: 50%
          transform: translate(-50%, 0)
          margin-left: -92px
        &--next
          right: 50%
          transform: translate(50%, 0)
          margin-right: -88px

  .activities
    padding: 40px 0 60px
    &__title
      margin-bottom: 36px
      font-size: 18px
      line-height: 23px
    &-wrapper
      flex-direction: column
      flex-wrap: nowrap
    &-card
      width: 100%
      margin-right: 0
      margin-bottom: 20px
      &:nth-last-child(-n+2)
        margin-bottom: 28px
      &:last-child
        margin-bottom: 0
      &:nth-child(2)
        order: 3
      &:nth-child(3)
        order: 2
      &:nth-child(4)
        order: 4
  .options-header__spec-list
    margin-top: -12px
  .packages
    &-wrapper
      grid-template-columns: 1fr
      grid-template-rows: repeat(5, 1fr)
      grid-column-gap: 0
    &-card
      grid-column-start: 1
      &__image
        flex: 0 0 190px
      &-info
        padding: 20px 30px 25px
        &__wrapper
          display: flex
          align-items: flex-start
          justify-content: space-between
        &__footer
        &__button
          flex-basis: 100%
          max-width: 100%
        &__price
          margin-bottom: 10px
        &-price
          &__old
            margin-right: 5px
            line-height: 1
          &__current
            display: inline-block
            line-height: 1
        &__spec
          &-list
            flex-basis: 70%
            margin-right: 10px
            margin-bottom: 0
      &--wide
        .packages
          &-card
            &__image
              flex: 0 0 190px
            &-info
              display: block
              padding: 20px 30px 25px
              &__wrapper
                min-width: auto
              &__stars
                display: none
              &__title
                margin-bottom: 20px
                overflow: visible
                text-overflow: clip
                white-space: normal
              &__desc
                display: none
                margin-bottom: 0
              &__spec
                &-list
                  margin-bottom: 0
                  flex-basis: 70%
              &__footer
                flex-basis: auto
                flex-direction: row
                align-items: center
                justify-content: space-between
              &__button
                flex-basis: 100%
                max-width: 100%
              &__price
                margin-bottom: 10px
  .footer
    padding: 69px 0 21px
    &-wrapper
      grid-template-columns: 1fr
      grid-row-gap: 29px
      margin-bottom: 28px
    &__block
    &__logo,
    &__socials,
    &__categories,
    &__contacts,
    &__form
      grid-column: 1
    &__logo
      grid-row: 1
    &__socials
      grid-row: 2
      flex-direction: column
      margin-top: 0
      margin-left: 0
      .footer__title
        margin-right: 0
        margin-bottom: 20px
    &__legal
      grid-row: 3
      margin-left: 0
    &__additional
      margin-left: 0
      grid-row: 4
    &__categories
      grid-row: 5
    &__contacts
      margin-top: 19px
      grid-row: 6
    &__list
      &-contacts
        padding-left: 3px
        svg
          margin-right: 6px
    &-item
      &-contacts
        margin-bottom: 29px !important
        &__link
          margin-bottom: 7px
    &__form
      margin-top: 4px
      grid-row: 7
    &__title
      &--mb-2
        margin-bottom: 16px
    &-form
      &__group
        flex: 1 1 100%
      &__textarea
        margin-bottom: 15px
      &__text
        flex-basis: 100%
        margin-bottom: 15px
      &__button
        order: 2
    &-bottom
      flex-direction: column
      align-items: start
      justify-content: center
    &-links
      margin-bottom: 10px
      &__item:not(:last-child)
        margin-right: 8px

@media screen and ( max-width: 480px )
  .container
    width: 96%
    padding: 0 15px
  .packages
    &-wrapper
      grid-gap: 20px
    &-card
      &__image
      &-info
        &__title
          margin-bottom: 24px
        &__wrapper
          display: block
        &__spec
          margin-bottom: 10px
          &-list
            margin-bottom: 18px
      &--wide
        .packages
          &-card
            &__image
            &-info
              &__title
                margin-bottom: 24px
              &__spec
                margin-bottom: 10px
                &:last-child
                  margin-bottom: 0
                &-list
                  margin-bottom: 18px
  .modal
    &-dialog
      width: 95%

@media screen and ( max-height: 500px )
  .modal
    &-dialog
      height: 97vh
      overflow-y: auto
    &-form
      margin-bottom: 20px
