*
  box-sizing: border-box
  &::after
    box-sizing: border-box
  &::before
    box-sizing: border-box

body
  font-family: 'Mulish', sans-serif
  background-color: $bg-light
  font-size: 16px
  color: $black
  cursor: default

h1,h2,h3,h4,h5,h6
  margin: 0
  padding: 0

ul
  margin: 0
  padding: 0
  list-style: none

p
  margin: 0
  padding: 0

.page
  overflow: hidden

.container
  max-width: 1140px
  margin: 0 auto
  padding: 0 15px

.button
  padding: 0.625em 1.25em
  border-radius: 4px
  border: none
  background-color: $accent
  color: $true-white
  cursor: pointer
  +trs(background-color)
  &:hover
    background-color: darken($accent, 10%)

.overflow
  &--auto
    overflow: auto
  &--hidden
    overflow: hidden
