.breadcrumb
  padding: 20px 0
  &-list
    display: flex
    align-items: center
    list-style: none
    &__item
      font-size: 11px
      line-height: 13px
      color: $black
      &:not(:last-child)
        margin-right: 3px
        &::after
          content: '/'
          display: inline-block
    &__link
      +trs(color)
      +link-reset
      &:hover
        color: $accent
