.hotel
  padding-top: 23px
  padding-bottom: 70px
  &__info
    &-wrapper
      display: flex
      align-items: center
      justify-content: space-between
      padding-bottom: 20px
  &-info
    flex-basis: 85%
    &__wrapper
      display: flex
      flex-wrap: wrap
      align-items: flex-end
    &__stars
      flex-basis: 100%
      margin-bottom: 4px
    &__name
      font-size: 24px
      line-height: 30px
      font-weight: 700
    &__offer
      margin-bottom: 5px
      margin-left: 14px
    &__descr
      font-size: 12px
      line-height: 15px
  &-rate
    text-align: center
    border-radius: 4px
    background-color: $accent
    color: $true-white
    padding: 8px
    &__text
      font-size: 8px
      line-height: 10px
      margin-bottom: 2px
    &__count
  &-grid
    display: flex
    justify-content: space-between
  &-slider
    margin: 0
    flex: 0 0 728px
    border-radius: 8px
    &__wrapper
    &__slide
      height: 450px
      border-radius: 8px
      overflow: hidden
      position: relative
      &::after
        content: ''
        position: absolute
        top: 0
        right: 0
        bottom: 0
        left: 0
        display: block
        background: linear-gradient(180deg, rgba(0, 122, 223, 0.48) 0%, rgba(255, 255, 255, 0.128) 100%)
    &__image
      width: 100%
      height: 100%
      overflow: hidden
      img,
      source
        width: 100%
        height: 100%
    &__nav
      position: absolute
      z-index: 33
      top: 50%
      transform: translateY(-50%)
      &:hover
        svg
          fill: $accent
      &--prev,
      &--next
        svg
          height: 30px
          width: 30px
          fill: rgba(#fff, .8)
          +trs(fill)
      &--prev
        left: 18px
      &--next
        right: 18px
  &-aside
    display: flex
    flex: 0 0 350px
    flex-direction: column
    // align-items: center
    justify-content: space-between
    &__options
      width: 100%
    &__map
      width: 100%
      height: 210px
      overflow: hidden
      border-radius: 8px
      background: $secondary url(../images/hotel-map.jpg) no-repeat center / cover

.stars
  display: flex
  align-items: center
  line-height: 1
  &__image:not(:last-child)
    margin-right: 2px
.offer
  padding: 4px 9px
  color: $true-white
  background-color: $accent
  border-radius: 3px
  font-weight: 700
  font-size: 10px
  line-height: 13px
.count
  display: flex
  align-items: flex-end
  justify-content: center
  &__current
    font-size: 14px
    line-height: 1
    &::after
      content: '/'
      display: inline-block
  &__max
    font-size: 10px
    line-height: 1

.options
  min-width: 350px
  font-family: 'Nunito', sans-serif
  padding: 28px
  border-radius: 8px
  background: $bg-dark
  color: $true-white
  &-header
    display: flex
    margin-bottom: 10px
    align-items: center
    justify-content: space-between
    &__price
      padding-right: 20px
      display: flex
      flex-direction: column
      span
        font-size: 12px
        line-height: 1
      strong
        font-size: 24px
        line-height: 33px
    &__spec
      margin-bottom: 8px
      font-size: 12px
      line-height: 16px
      display: inline-flex
      align-items: center
      justify-content: space-between
      &:last-child
        margin-bottom: 0
      span
        margin-left: 8px
      &-list
        display: flex
        flex-direction: column
  &-booking
    display: flex
    margin-bottom: 16px
    align-items: center
    justify-content: space-between
    &__text
      font-weight: 600
      font-size: 18px
      line-height: 25px
    &__tel
      display: flex
      align-items: center
      font-weight: 600
      font-size: 18px
      line-height: 25px
      +trs(color)
      +link-reset
      span
        margin-left: 8px
      svg
        width: 14px
        height: 14px
        fill: #fff
        +trs(fill)
      &:hover
        color: $accent
        svg
          fill: $accent
  &-footer
    &__button
      border-radius: 4px
      width: 100%
      padding: 13px
      font-weight: 600
      font-size: 14px
      line-height: 19px

.map
